name: Sync and Release

permissions: write-all

on:
  workflow_dispatch:
  schedule:
    - cron: 0 */3 * * *
  push:
    branches:
      - main
    paths:
      - sources/*
      - .github/workflows/crowdin.yml

jobs:
  sync:
    if: "!(contains(github.event.head_commit.message, '[skip ci]') && github.event_name == 'push')"
    runs-on: ubuntu-latest
    env:
      CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
      CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

    outputs:
      has_commits: ${{ steps.check.outputs.has_commits }}
      folders_json: ${{ steps.list_folders.outputs.folders_json }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Download Translations
        uses: crowdin/github-action@v2
        with:
          download_translations: true
          skip_untranslated_strings: true
          push_translations: false

      - name: Check Commits since Latest Tag
        id: check
        run: |
          sudo chmod -R ugo+rwX .
          latest_tag=$(git describe --tags --abbrev=0)
          commits=$(git rev-list $latest_tag..HEAD --count)
          echo "Latest tag: $latest_tag"
          echo "Commits since tag: $commits"
          if [[ $commits > 0 ]]; then
            echo "has_commits=true" >> $GITHUB_OUTPUT
          else
            echo "has_commits=false" >> $GITHUB_OUTPUT
          fi

      - name: List Folders
        id: list_folders
        run: |
          FOLDERS=$(ls ./resources | sort | sed '1{h;s/.*/15w14a\n1.RV-Pre1\n3D_Shareware_v1.34/;G}' | awk '!a[$0]++' | sed 's/.*/"&"/' | sed ':a;N;$!ba;s/\n/,/g')
          echo "folders_json=[$FOLDERS]" >> $GITHUB_OUTPUT

      - name: Update Progress
        run: |
          pip install -r requirements.txt
          python update_progress.py

      - name: Commit and Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Update Crowdin translations" && git push || true

  prepare:
    runs-on: ubuntu-latest
    needs: sync
    if: needs.sync.outputs.has_commits == 'true'
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}

    steps:
      - name: Check Time
        id: check_time
        run: |
          TIME=$(date +%y%m%d-%H%M)
          echo "time=$TIME" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          body: |
            Resource packs built from the latest Crowdin translations.
            - Run ID: ${{ github.run_id }}
            - Commit SHA: ${{ github.sha }}
          name: Build ${{ steps.check_time.outputs.time }}
          tag_name: build-${{ steps.check_time.outputs.time }}
          generate_release_notes: true

  release:
    needs: [sync, prepare]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson(needs.sync.outputs.folders_json) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Package Resources for ${{ matrix.folder }}
        run: |
          cp sources/${{ matrix.folder }}/* resources/${{ matrix.folder }}/assets/minecraft/lang
          cd resources/${{ matrix.folder }}
          zip -r '../../[AFTP] ${{ matrix.folder }}.zip' ./*

      - name: Upload Packaged Release for ${{ matrix.folder }}
        uses: xresloader/upload-to-github-release@v1
        with:
          file: '[AFTP] ${{ matrix.folder }}.zip'
          release_id: ${{ needs.prepare.outputs.release_id }}
          overwrite: true

  clean_up:
    runs-on: ubuntu-latest
    steps:
      - name: Clean Releases and Workflows
        uses: ophub/delete-releases-workflows@v0.1.0
        with:
          delete_releases: true
          releases_keep_latest: 10
          delete_tags: true
          delete_workflows: true
          workflows_keep_day: 15
          gh_token: ${{ github.token }}
